{% extends "food_mgt/base.html" %}
{%block content %}
<body>
    <h1>This is our about section </h1>
    <h1 style="display: inline">👨‍💻️<h5 style="display: inline">Work in progress</h5><h1 style="display: inline">👨‍💻️</h1></h1>
    

    
    <p> This web application is crreated under youth Volunteer Club (feed for homeless) project. throught out this website we can help that helpless and hungree pepoles that can't or difficult able to take food themself or thair family </p>
    <h2> Contect us on social media</h2>
    <a href="https://www.google.com"><h1> Google </h1></a>
    <a href="https://www.facebook.com"><h2>Facebook</h2></a>
    <a href="https://www.youtube.com"><h3>Insta</h3></a>
{% endblock content %}
