{% extends "food_mgt/base.html" %}
{% load static %}
{% block content %}
<div class="container">
<link rel="stylesheet" href="{% static 'food_mgt/style.css' %}" />
    <div class="content content-section">
        <h2>Log in to Request or Donate.....</h2>
        <br><br>
        <p>Need an Volunteer/Doner Account? &nbsp;&nbsp;&nbsp;
            <a href="{% url 'register' %}">Register</a>
        </p>
    </div>
    
    
    
             <br><br><br><br><br><br>
             
             
   
             
             
    <div class="figure">
        
   	<img src="/media/image.jpeg"
       	alt="image by deepak"
       	
       	width="1100px"
       	height="480">

<h1 align="center"><i> Donate Food,Save Life</i></h1>

    </div>

   


<div class="footer">
<link rel="stylesheet" href="{% static 'food_mgt/style.css' %}" />
 
           
<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Contact Us</h5>
        <p>{% load static %}<img width="30" height="30" src="{% static "img/location.png" %} "> MITM Ujjain</p>
        <p>{% load static %}<img width="38" height="34" src="{% static "img/phone4.png" %} ">+91 8349646551 </p>
        <p>{% load static %}<img width="30" height="30" src="{% static "img/email.png" %} ">&nbsp;&nbsp;&nbsp;Patidarj835@gmail.com</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social media</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com" rel="noopener noreferrer" target="_blank">{% load static %}<img width="30" height="30" src="{% static "img/linkedin2.png" %} "></a>
            <a href="https://github.com/hackerboypatel/" rel="noopener noreferrer" target="_blank">{% load static %}<img width="31" height="34" src="{% static "img/github.png" %} "></a>
            <a href="https://www.facebook.com" rel="noopener noreferrer" target="_blank">{% load static %}<img width="30" height="30" src="{% static "img/facebook.png" %} "></a>
            <a href="https://www.instagram.com" rel="noopener noreferrer" target="_blank">{% load static %}<img width="38" height="39" src="{% static "img/instagram.png" %} "></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
</div>
{% endblock content %}
