body {
  background-color: gray;
}
p {
  color: black;
  }
h1 {
  color: yellow;
}
h2 {
  color: blue;
}

slide-left {
  width:100%;
  overflow:hidden;


  animation: slide-left 10s;

    margin-left: 100%;
    width: 300%; 
    margin-left: 0%;
    width: 100%;
}

h5 {
  color: black;
}
footer {
  position: ;
  left: 0;
  bottom: 0;
  width: 1100px;
  background-color: ;
  color: white;
  text-align: center;
}





